/* FULL PAGE */
body {
    margin: 0;
    padding: 0;
    font-family: "Poppins", sans-serif;
    background: linear-gradient(135deg, #6a11cb, #2575fc); /* warna modern */
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* JUDUL DI ATAS */
.title {
    font-size: 26px;
    font-weight: 700;
    color: white;
    margin-bottom: 20px;
    text-shadow: 0 2px 8px rgba(0,0,0,0.3);
}

/* CARD FORM */
.container {
    width: 300px;
    background: #ffffff;
    padding: 25px 22px;
    border-radius: 14px;
    box-shadow: 0 8px 25px rgba(0,0,0,0.15);
    animation: fadeIn 0.7s ease-in-out;
}

.container {
    width: 300px;
    background: #ffffff;
    padding: 25px 22px;
    border-radius: 18px;

    /* Neumorphism soft shadow */
    box-shadow:
        10px 10px 22px rgba(0,0,0,0.15),
        -10px -10px 22px rgba(255,255,255,0.8);

    animation: fadeIn 0.7s ease-in-out;
}


/* LABEL */
label {
    font-size: 13px;
    font-weight: 600;
    color: #0c0c0c;
}

/* INPUT & SELECT */
input, select {
    width: 100%;
    padding: 10px;
    margin-top: 6px;
    margin-bottom: 15px;
    border: 1px solid #d1d5db;
    border-radius: 8px;
    background: #f7f7f9;
    transition: 0.25s;
    font-size: 14px;
}

/* FOCUS */
input:focus, select:focus {
    border-color: #05728e;
    box-shadow: 0 0 4px rgba(50, 50, 50, 0.5);
    background: #fff;
    outline: none;
}

/* BUTTON */
button {
    width: 100%;
    padding: 10px;
    background-color: #000000;
    border: none;
    border-radius: 8px;
    font-size: 15px;
    color: white;
}