body {
    font-family: Arial, sans-serif;
    background: linear-gradient(135deg, #4e54c8, #8f94fb);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

form {
    background: #ffffff;
    padding: 25px 30px;
    width: 350px;
    border-radius: 12px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    animation: fadeIn 0.8s ease;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #faf9f9;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
    transition: 0.3s;
}

input:focus, select:focus {
    border-color: #4e54c8;
    box-shadow: 0 0 8px rgba(78,84,200,0.4);
}

button {
    width: 100%;
    padding: 12px;
    background: #4e54c8;
    border: none;
    border-radius: 8px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    margin-top: 10px;
    transition: 0.3s ease;
}

button:hover {
    background: #3d41a6;
    transform: translateY(-2px);
    box-shadow: 0 5px 10px rgba(0,0,0,0.2);
}

/* Animasi masuk */
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}